*{ 
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}

body {
    background-color: rgba(20, 20, 20);
    height: 10000rem;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/***** Mobile Header *****/
#mobile {
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 3vw 6%;
    justify-content: space-between;
}

.menu-mobile {
    display: flex;
    flex-wrap: nowrap;
}

.mobile-logo img{
    object-position: center center;
    object-fit:contain;
    width: 80%;
    padding-left: 4vw;
}

.search-mobile input[type=text]{
    font-size: 2.5rem;
    background: rgb(86, 86, 86, 0.5);
    border: 2px solid whitesmoke;
    padding: 0.7rem;
    width: 18rem;
}
.search-mobile input[type=text]::placeholder {
    color: white;
}

/* side-menu */
#side-menu {
    width: 70vw;
    height: 100%;
    position: fixed;
    background-color: black;
    display: flex;
    flex-direction: column;
    left: -100vw;
    transition: transform 0.15s;
    overflow: scroll;
    z-index: 99;
}

.m-user-info {
    display: flex;
    padding-left: 7%;
}

.m-user-info img {
    object-fit: contain;
    width: 13%;
    margin-right: 3%;
}

#side-menu a {
    text-decoration: none;
    color: rgb(86, 86, 86);
    white-space: nowrap;
}

.side-nav a{
    display: block;
    padding-left: 7%;
    font-size: 3.1rem;
    font-weight: 600;
    line-height: 160%;
}

.mobile-user {
    padding-top: 2rem;
    border-bottom: 1px solid rgb(86, 86, 86);
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.mobile-user h1 {
    font-size: 3.1rem;
    font-weight: 600;
}

.mobile-user h2 {
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 50%;
}

.side-menu--open {
    transform: translatex(100vw);
}



/***** Desktop Menu  *****/
#desktop {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0);
    padding-left: calc(min(4%, 2.5vw));
    padding-right: 4%;
    height: 2.6rem;
}

.menu-desktop {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 2.6rem;
}


.leftside-menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.desktop-logo img {
    object-fit: contain;
    width: 3.5rem;
}

.navigation  a{
    color: white;
    font-size: calc(min(1.4vw, 0.6rem));
    vertical-align: top;
    position: relative;
    top: 0.1rem;
    padding-left: 60%;
    font-weight: 600;
}

.navigation-bt::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    margin-left: 20%;
    position: absolute;
    top: 30%;
    left: 100%;
}



.rightside-menu {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.rightside-menu img{
    object-fit: contain;
    width: 1.5rem;
    margin-left: 1.5rem;
}

.desktop-user {
    display: flex;
    height: 100%;
    align-items: center;
}

.desktop-user img {
    object-fit: contain;
    width: auto;
    height: calc(inherit * 0.9);
    align-self: center;
    border-radius: 5px;
}

.items-menu-header {
    display: none;
    
}

.items-menu-header a{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    text-decoration: none;
    color: white;
    font-size: calc(min(1.2vw, 0.95rem));
    vertical-align: top;
    position: relative;
    top: -0.2rem;
    padding-left: 5.5%;
    font-weight: 600;
}


/*****Dropdown Menu*****/

.navigation{
    position: relative;
}

.navigation-dropdown {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2.5rem;
    width: 20vw;
    z-index: 99;
}

.navigation-dropdown::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-10%);
    background-color: rgba(50, 50, 50, 0.5);
    background-size: cover;
    width: 150%;
    height: 90%;
}

.navigation-dropdown a{
    white-space: nowrap;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
}

.navigation:hover + .navigation-dropdown{
    display: block;
}



/*****  Swiper  *****/

#frist-swiper {
    padding-top: 10rem;
}

.thumbSection {
    padding-top: 3%;
}

.thumbTitle {
    color:rgb(86, 86, 86); 
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 4%;
    padding-bottom: 0.2rem;
}

.thumbTiles.swiper-container {
    padding: 0 4%;
}

.thumbTile {
    width: 20%;
}

.thumbTile__image {
    width: 100%;
}


.thumbTiles .swiper-button-prev,
.thumbTiles .swiper-button-next {
    height: 100%;
    width: 4%;
    width: calc(4% - 5px);
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: rgba(20, 20, 20, 0.5);
}

.thumbTiles .swiper-button-prev {
    left: 0;

}

.thumbTiles .swiper-button-next {
    right: 0;
}

.thumbTiles .swiper-button-prev::after,
.thumbTiles .swiper-button-next::after {
    color: #fff;
    font-size: 4vw;
    font-weight: bold;
    transition: transform 0.1s ease-out;
}


@media screen and (min-width: 640px) {
    
    .thumbTiles .swiper-button-prev::after,
    .thumbTiles .swiper-button-next::after {
        display: none;
        font-size: 2.4vw;
    }

    .thumbTiles .swiper-button-prev:hover::after,
    .thumbTiles .swiper-button-next:hover::after {
        transform: scale(1.25);
    }

    .thumbTiles:hover .swiper-button-prev::after,
    .thumbTiles:hover .swiper-button-next::after {
        display: block;
    }

}


@media screen and (min-width: 885px) {
    .navigation {
        display: none;
    }
    
    .items-menu-header {
        display: flex;
    }

    .desktop-logo img {
        object-fit: contain;
        width: calc(min(8vw ,6rem));
    }



}